body {
  background-color: #282928;
}

.signin {
  background-color: rgb(235, 235, 235);
  margin: auto;
  margin-top: 100px;
  width: 70%;
}

.form-signin-heading {
  color: rgb(0, 0, 0);
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  padding-bottom: 30px;
  width: 50%;
  text-align: center;
}
.alert {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin: 10px 0px;
}

.form-signin p {
  margin-top: 10px;
}
