.content{
    text-align:  center;
}

form {
    text-align: center;
    margin: 0 auto;
    display: table;
}


div.post {
    margin: 0 auto;
    width: 100%;
}

div.member {
    margin: 0 auto;
    border-left: 3px solid rgb(71, 71, 71);
    width: 100%;
    min-height: 170px;
}



    
    