.content {
  text-align: center;
  background: #fafafa;
  margin: .75rem auto;
  padding: .6rem 1rem;
  max-width: 80%;
  border-radius: 7px;
}

form {
  text-align: center;
  margin: 0 auto;
  display: table;
}

.project {
  margin: 0 auto;
}

.member {
  text-align: center;
  margin: 0 auto;
  border-left: 3px solid rgb(71, 71, 71);
  width: 100%;
  min-height: 170px;
}
