.bar-wrapper {
    color: red;
}
.bar-value {
  color: red;
  font-size: 12px;
}

.gantt-chart{
  color: white;
  padding: 10px;
}

.chart {
  background-color: rgb(83, 83, 83);
}
/* .pre-milestone {
  transform: rotate(45deg);
  transform-origin: right center;
} */