.content{
    text-align:  center;
}

form {
    text-align: center;
    margin: 0 auto;
    display: table;
}

p {
    color: black;
}

div.content {
    margin: 0 auto;
    width: 100%;
    border-left: 3px solid rgb(71, 71, 71);
}
    